name: Generate Readme
on:
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Config CI
        run: |
          git config --global user.name 'CI'
          git config --global user.email 'noreply@github.com'

      - name: Set Permissions to script
        run: chmod +x ./.github/readme-format.sh

      - name: Run Readme Script
        run: ./.github/readme-format.sh

      - name: Commit changes
        run: |
          git add .
          git commit -m "formatting the readme file"
          git push
